/* header section */

.logo img {
    width: 90px;
}

/* name section */

.name-section-text h4 {
    margin-top: 115px;
}

.name-section-text h2 {
    font-size: 40px;
}

.custom-color{
    background: #838ffe;
}

.name-section-text p {
    font-size: 17px;
}

.name-section-img img {
    width: 403px;
}

/* about section */

.about-section-content h2 {
    font-size: 40px;
    font-weight: 400;
}

.about-section-content p {
    font-weight: 500;
}

.about-section-img{
    border: 1px solid #ddd;
}

.about-section-content {
    margin-left: 55px;
}

.about-section-img {
    margin-left: 25px;
}

/* number section */

.number-section {
    padding: 70px 0;
}

.number-section h3 {
    font-size: 38px;
}

.number-section p {
    color: #fbfbff;
}

/* app section */

.app-section {
    background: #f9f9ff;
}

.app-section h2 {
    font-size: 40px;
    font-weight: 400;
}

.app-section p {
    font-size: 19px;
}

.app-card {
    box-shadow: 0 0 30px 0 rgba(132, 144, 255, .1);
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}

.app-card h1 {
    background: #f9f9ff;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    line-height: 130px;
    margin: auto;
    margin-top: 15px;
}

.app-card a {
    display: inline-block;
    text-decoration: none;
    border: 1px solid #8490ff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 30px 0 rgba(132, 144, 255, .2);
}

.app-list {
    list-style: none;
    padding-left: 0;
}

.app-list li {
    padding: 15px 0;
    font-size: 19px;
    font-weight: 400;
    color: #898989;
}

/* team section */

.team-section {
    padding: 120px 0 60px 0;
}

.img-setup {
    position: absolute;
    top: -40px;
    left: 20px;
}

.btn-setup {
    border: none;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .2);
}

.card-setup {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2);
    border: none;
}

.fw-weight {
    font-weight: 400;
}

/* Contact Section */

.contact-section {
    background: #f9f9ff;
}

.contact-box {
    box-shadow: 0 0 30px 0 rgba(132, 144, 255, .2);
    padding: 50px;
    text-align: center;
    border-radius: 5px;
    background: #fff;
}

.contact-box a {
    display: inline-block;
    text-decoration: none;
    background: #17a2b8;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

.w-font {
    font-weight: 400;
}

.message {
    height: 180px;
}

.contact-right h3 {
    padding: 100px 0 10px 20px;
}

.contact-right h6 {
    padding: 5px 20px;
}


